name: Sync labels

on:
  workflow_dispatch:
  push:
    paths:
      - ".github/labels.yml"
      - ".github/workflows/labels-sync.yml"

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Sync labels
        uses: micnncim/action-label-syncer@v1
        with:
          manifest: .github/labels.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}